.root {
    -color-fond: #181616;
    -color-texte: #FFFFFF;
    -color-secondary: #3D81FF;
    -color-border: #FFFFFF;
}

/* Arrière-plans de la structure */
.root, .border-pane, .vbox, .flow-pane {
    -fx-background-color: -color-fond !important;
}

.scroll-pane {
    -fx-background-color: transparent !important;
    -fx-background: #181616 !important;
}

/* Lignes de séparation (Navbar Accueil et Création) */
#navbar, #vosTierList, .hbox {
    -fx-border-color: -color-border !important;
    -fx-border-width: 0 0 1 0 !important;
}

/* Boutons Bleus (Accueil, Créer, Commencer) */
#buttonCrreTierlist, #btnAccueil, #btnCommencer {
    -fx-background-color: -color-secondary !important;
    -fx-text-fill: white !important;
    -fx-background-radius: 10 !important;
}
#buttonCrreTierlist:hover, #btnAccueil:hover, #btnCommencer:hover {
    -fx-background-color: #2670FF !important;
}

/* Bouton Importer */
#buttonImporter {
    -fx-background-color: #070707 !important;
    -fx-text-fill: white !important;
    -fx-border-color: -color-border !important;
    -fx-border-radius: 3 !important;
    -fx-background-radius: 3 !important;
}
#buttonImporter:hover {
    -fx-background-color: #1E1E1E !important;
}

/* Bouton de changement de Thème (Rond) */
#buttonTheme {
    -fx-background-radius: 20 !important;
    -fx-background-color: #FFFFFF !important;
    -fx-cursor: hand !important;
}

/* Tous les textes/labels */
.label {
    -fx-text-fill: -color-texte !important;
}

/* Zone de l'image de couverture (StackPane) */
#coverImagePane {
    -fx-background-color: #2A2A2A !important;
    -fx-border-color: -color-secondary !important;
    -fx-border-width: 2 !important;
    -fx-cursor: hand !important;
}

/* ==========================================
   CORRECTIF SYSTEME DE FOCUS (DARK)
   ========================================== */

/* On cible la cellule de texte native de JavaFX (.text-input) */
.text-input, .text-field, .text-area, .text-area .content {
    -fx-background-color: #2A2A2A !important;
    -fx-control-inner-background: #2A2A2A !important;
    -fx-text-fill: white !important;
    -fx-prompt-text-fill: #888888 !important;
    -fx-border-color: #555555 !important;
    -fx-border-radius: 5 !important;
    -fx-background-radius: 5 !important;
}
