.root {
    -color-fond: #FFFFFF;
    -color-texte: #1A1A1A;
    -color-secondary: #1A66FF;
    -color-border: #CCCCCC;
}

/* Arrière-plans de la structure */
.root,.BorderPane, .vbox {
    -fx-background-color: -color-fond;
}

/* Lignes de séparation */
#navbar, #vosTierList, .hbox {
    -fx-border-color: -color-border;
    -fx-border-width: 0 0 1 0;
}

/* Boutons Bleus */
#buttonCrreTierlist, #btnAccueil, #btnCommencer {
    -fx-background-color: -color-secondary;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}
#buttonCrreTierlist:hover, #btnAccueil:hover, #btnCommencer:hover {
    -fx-background-color: #0052CC;
}

/* Bouton Importer */
#buttonImporter {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: -color-texte;
    -fx-border-color: #757575;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}
#buttonImporter:hover {
    -fx-background-color: #E0E0E0;
}

/* Bouton de changement de Thème */
#buttonTheme {
    -fx-background-radius: 20;
    -fx-background-color: #1A1A1A;
    -fx-cursor: hand;
}

/* Tous les textes/labels */
.label {
    -fx-text-fill: -color-texte;
}

/* Zone de l'image de couverture */
#coverImagePane {
    -fx-background-color: #F5F5F5;
    -fx-border-color: -color-secondary;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

/* --- LE FOCUS ET LES INPUTS (LIGHT) --- */

/* Style par défaut des champs de texte */
.text-field, .text-area, .text-area .content {
    -fx-background-color: #FFFFFF !important;
    -fx-control-inner-background: #FFFFFF !important;
    -fx-text-fill: -color-texte !important;
    -fx-prompt-text-fill: #979797 !important;
    -fx-border-color: -color-border !important;
    -fx-border-radius: 5 !important;
    -fx-background-radius: 5 !important;
}

